body {
    background-color: #FFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.header {
    /* background-color: #0b405c; */
    border-top: 10px solid #37138F;
    padding: 15px;
}

.title {
    margin: 0;
    color: #37138F;
    text-align: center;
}

.content {
    flex: 1;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.sourceCalendar {
    margin-bottom: 50px;
}

.dates {
    /* border: 3px solid black; */
    /* border-radius: 5px;*/
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    min-height: 180px;
    justify-content: space-between;
}

.calendarLabel {
    width: 40px;
    text-align: right;
}

.calendarSelect {
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
}

.calendarDropDown {
    min-width: 612px;
    margin-left: 10px;
}

.dateInput {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid black; */
}

.inputField {
    height: 50px;
    width: 155px;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    text-align: center;
}

.inputField::placeholder {
    color: grey; /* Set placeholder text color */
  }

.inputField:focus::placeholder {
    color: transparent; /* Hide placeholder text when input is focused */
  }

.convert {
    display: flex;
    justify-content: center;
}

.convertButton {
    background-color: #37138F;
    border: none;
    padding: 15px 32px;
    margin: 4px 2px;
    text-decoration: none;    
    color: white;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
    width: 220px;
    justify-self: center;
}

.footer {
    /* background-color: #0b405c; */
    margin: 0;
    padding: 10px;
    /* text-align: center; */
    font-weight: bold;    
    display: flex;
    justify-content: space-evenly;
}


.tempLogo {
    font-weight: 700;
    font-size: xx-large;
    margin: 0;
}

/* Message box settings */
.message-box {
    display: none;
    position: fixed;
    top: 150px;
    left: 50%;
    transform: translateX(-50%); /* Centers the box horizontally */
    padding: 15px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    color: #721c24;
    z-index: 1000;
    min-width: 200px; /* Optional: ensures minimum width */
    text-align: center; /* Centers the text inside */
}

.close-btn {
    margin-left: 10px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 18px;
    color: #721c24;
}